<!-- HTML CSS values -->
<!-- p class="red" translates to .red {} used for many -->
<!-- p id="red" translates to #red {} used for just one -->
<!-- https://github.com/Kozea/WeasyPrint/issues/76 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madsen Concrete Services Proposal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf.css') }}">
</head>
<body>
{% block content %}
<table id="header" style="width: 100%">
    <tr>
        <td style="vertical-align:top; width: 33.3333%">
            <img id="logo" src="{{ url_for('static', filename='img/logo.gif') }}">
        </td>

        <td style="vertical-align:top; width: 33.3333%; text-align: center">
            <h2 id="title"><em>Proposal</em></h2>
            <div id="company_address">
                179 Marvy St<br>
                Lino Lakes, MN 55014<br>
                612-508-2484<br>
                concrete@madsenservices.com<br>
                MN License: BC690748
            </div>
        </td>

        <td style="vertical-align:top; width: 33.3333%; text-align: right; font-size: .8em;">
            <strong>Submitted By</strong><br>
            Thomas Madsen<br>
            Date: {{ bid_time }}<br>
            Invoice: {{ "{0:0>4}".format(bid.id) }}<br>
        </td>

    </tr>
</table>
<br>

<table id="wrapper">
    <td style="vertical-align:top; width: 50%; text-align: left; font-size: .8em;">
            <h4 style="margin-bottom: 5px;">Customer Address</h4>
            {{ customer.name.upper() }}<br>
            {{ address.street }}<br>
            {{ address.city }}, {{ address.state }}, {{ address.zip }}<br>
            {{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}<br>
            {{ customer.email }}
    </td>

    <td style="vertical-align:top; width: 50%; text-align: left; font-size: .8em">
        <h4 style="margin-bottom: 5px;">Project Overview</h4>
        <p>{{ bid.description }}</p>
    </td>
</table>

<br>
<div class="entries">
    <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>Description</strong></th>
          <th width="30px" style="text-align: right;"><strong>Total</strong></th>
        </tr>
      </thead>

  {% if sum_of_items[0] is not none: %}
        {% for item in items %}
            <tr>
              <td width="75px">{{ item.description | scrub_description }}</td>
              <td width="30px" style="text-align: right;">{{ "{0:0.2f}".format(item.total) }}</td>
            </tr>
        {% endfor %}
  {% endif %}

    </table>
</div>

<br>
{% if bid.notes %}
<div class="entries">
    <div class="datagrid">
    <table>
      <thead>
        <tr>
            <th width="50px"><strong>Notes</strong></th>
        </tr>
      </thead>
        <tr>
            <td>
            {{ bid.notes }}
            </td>
        </tr>
    </table>
</div>
{% endif %}


<br>
<div class="entries">
    <div class="datagrid">
    <table>
        <tr style="color: #FFFFFF; background: #000000; font-size: 15px; font-weight: bold">
            <th width="75px"><strong>We Propose</strong></th>
            <th></th>
        </tr>

    <tr>
        <td width="75px">
            Hereby to furnish material and labor complete in accordance with above specifications, for the sum of<br>
        </td>
        <td width="30px" style="text-align: right;">
            <br>
            {% if sum_of_items[0] %}
                {{ "${0:0.2f}".format(sum_of_items[0]) }}
            {% endif %}
        </td>
    </tr>

        <tr style="color: #FFFFFF; background: #000000; font-size: 15px; font-weight: bold">
            <th colspan="2"><strong>Payment Outline</strong></th>
        </tr>

        <tr>
            <td width="75px">Deposit</td>
            <td width="30px" style="text-align: right;">{{ "${0:0.2f}".format(bid.down_payment_amount) }}</td>
        </tr>

        <tr>
            <td width="75px">Remaining Balance Due Upon Completion of the Contract</td>
            {% if sum_of_items[0] %}
                <td  width="30px" style="text-align: right;">{{ "${0:0.2f}".format(sum_of_items[0] - bid.down_payment_amount) }}</td>
            {% endif %}
        </tr>

        <tr  stylecolor: #FFFFFF; background: #000000; font-size: 15px; font-weight: bold">
            <th colspan="2"><strong>Acceptance of Proposal</strong></th>
        </tr>

        <tr>
            <td colspan="2">
                The above prices, specifications and conditions are satisfactory and are hereby accepted.
                You are authorized to do the work as specified. Payment will be made as outlined above.
                I have received a copy of the Pre-Lien Notice.
            </td>
        </tr>

        <tr>
            <td width="75px">Signature:</td>
            <td width="30px">Date:</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="60px">X__________________________________________________________________________</td>
            <td height="60px">________________</td>
        </tr>

    </table>
</div>
{% endblock %}
</body>
</html>