{% extends "_base.html" %}

{% block content %}
{{ customer.name.upper() }}<br>
{{ address.street }}<br>
{{ address.city }}, {{ address.state }} {{ address.zip }}
<br>

<form class="form-signin" role="form" method="post" action="{{ action }}">
  {{ form.csrf_token }}

<br>
  <strong>Job Description</strong><br>
  {{ form.description(cols="100", rows="2") }}
  <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
<br>

  <strong>Notes</strong><br>
  {{ form.notes(cols="100", rows="2") }}
  <span class="error">
      {% if form.notes.errors %}
        {% for error in form.notes.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>


<table style="font-size: 1em">
    <tr>
        <td width="200px">Bid Status</td>
        <td>{{ form.status() }}
            <span class="error">
              {% if form.status.errors %}
                {% for error in form.status.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Scheduled Bid Date</td>
        <td>
            <input type="text" name="scheduled_bid_date" id="scheduled_bid_date" value="{{ form.scheduled_bid_date.data }}">
            <span class="error">
              {% if form.scheduled_bid_date.errors %}
                {% for error in form.scheduled_bid_date.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Tentative Start Date</td>
        <td>
            <!-- dont show date value (None) in the form field, on submit the form validation will fail -->
            {% if form.tentative_start.data %}
                <input type="text" name="tentative_start" id="tentative_start" value="{{ form.tentative_start.data }}">
            {% else %}
                <input type="text" name="tentative_start" id="tentative_start" value="">
            {% endif %}
            <span class="error">
              {% if form.tentative_start.errors %}
                {% for error in form.tentative_start.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Actual Start Date</td>
        <td>
            <!-- dont show date value (None) in the form field, on submit the form validation will fail -->
            {% if form.actual_start.data %}
                <input type="text" name="actual_start" id="actual_start" value="{{ form.actual_start.data }}">
            {% else %}
                <input type="text" name="actual_start" id="actual_start" value="">
            {% endif %}
            <span class="error">
              {% if form.actual_start.errors %}
                {% for error in form.actual_start.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Completion Date</td>
        <td>
            <!-- dont show date value (None) in the form field, on submit the form validation will fail -->
            {% if form.completion_date.data %}
                <input type="text" name="completion_date" id="completion_date" value="{{ form.completion_date.data }}">
            {% else %}
                <input type="text" name="completion_date" id="completion_date" value="">
            {% endif %}
            <span class="error">
              {% if form.completion_date.errors %}
                {% for error in form.completion_date.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>
</table>

<br>
<table style="font-size: 1em">
    <tr>
        <td width="200px">Down Payment Date</td>
        <td>
            <!-- dont show date value (None) in the form field, on submit the form validation will fail -->
            {% if form.down_payment_date.data %}
                <input type="text" name="down_payment_date" id="down_payment_date" value="{{ form.down_payment_date.data }}">
            {% else %}
                <input type="text" name="down_payment_date" id="down_payment_date" value="">
            {% endif %}
            <span class="error">
              {% if form.down_payment_date.errors %}
                {% for error in form.down_payment_date.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
        <td style="padding-left:2em">${{ form.down_payment_amount(placeholder="Amount Down") }}</td>
    </tr>

    <tr>
        <td width="200px">Final Payment Date</td>
        <td>
            <!-- dont show date value (None) in the form field, on submit the form validation will fail -->
            {% if form.final_payment_date.data %}
                <input type="text" name="final_payment_date" id="final_payment_date" value="{{ form.final_payment_date.data }}">
            {% else %}
                <input type="text" name="final_payment_date" id="final_payment_date" value="">
            {% endif %}
            <span class="error">
              {% if form.final_payment_date.errors %}
                {% for error in form.final_payment_date.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
        <td style="padding-left:2em">${{ form.final_payment_amount(placeholder="Final Payment Amount") }}</td>
    </tr>

    <tr>
        <td width="200px">Remaining Balance</td>
        {% if sum_of_items[0] is not none: %}
            <td style="color: red">{{ "${0:0.2f}".format(sum_of_items[0] - (bid.final_payment_amount + bid.down_payment_amount)) }}</td>
        {% else %}
            <td style="color: red">{{ "${0:0.2f}".format(0) }}
        {% endif %}
    </tr>
</table>
<a href="{{ url_for('bid.bid_create_receipt', bid_id_pdf=bid.id) }}" target="_blank" class="btn btn-sm btn-info"
role="button">View Receipt</a>

<br>
<br>
<div class="entries">
  <h4><strong>Items </strong>
    <a href="{{ url_for('item.item_add', bid_id=bid.id) }}" class="btn btn-sm btn-success">Add</a>
    <a href="{{ url_for('item.item_add_custom', bid_id=bid.id) }}" class="btn btn-sm btn-info">Add Custom Item</a></h4>
  </h4>
    <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>Description</strong></th>
          <th width="50px"><strong>Edit</strong></th>
          <th width="50px"><strong>Delete</strong></th>
          <th width="75px"><strong>Quantity</strong></th>
          <th width="30px"><strong>Cost</strong></th>
          <th width="30px"><strong>Total</strong></th>
        </tr>
      </thead>

  {% if sum_of_items[0] is not none: %}
        {% for item in items %}
            <tr style="{{ loop.cycle('background: white;', 'background: #F0F0F0;') }}">
              <td width="75px">{{ item.description }}</td>

              <!-- If the item is a custom item (no quantity) send to a different form to edit -->
              {% if item.quantity %}
                    <td width="30px"><a href="{{ url_for('item.item_edit', item_edit_id=item.id) }}">Edit</a></td>
              {% else %}
                    <td width="30px"><a href="{{ url_for('item.item_edit_custom', item_edit_id=item.id) }}">Edit</a></td>
              {% endif %}

              <td width="30px"><a href="{{ url_for('item.item_delete', item_delete_id=item.id) }}"
                              onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
              {% if item.quantity %}
                    <td width="30px">{{ "{0:0.1f}".format(item.quantity) }}</td>
              {% else %}
                    <td width="30px"></td>
              {% endif %}

              {% if item.cost %}
                    <td width="30px">{{ "{0:0.2f}".format(item.cost) }}</td>
              {% else %}
                    <td width="30px"></td>
              {% endif %}

              {% if item.total %}
                    <td width="30px">{{ "{0:0.2f}".format(item.total) }}</td>
              {% else %}
                    <td width="30px"></td>
              {% endif %}
            </tr>
        {% endfor %}

       <thead>
        <tr>
          <th width="75px"><strong>Total</strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong>{{ "${0:0.2f}".format(sum_of_items[0]) }}</strong></th>
        </tr>
      </thead>

  {% endif %}

    </table>
  </div>
</div>
<br>
    <button class="btn btn-sm btn-success" type="submit">Save</button>
    <a href="{{ url_for('bid.bid_create_pdf', bid_id_pdf=bid.id) }}" target="_blank" class="btn btn-sm btn-info"
       role="button">View PDF</a>
    <a href="{{ url_for('bid.bid_create_pdf', bid_id_pdf=bid.id, save_to_disk=True) }}" class="btn btn-sm btn-warning"
       role="button">Save PDF</a>
    <a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}" class="btn btn-sm btn-primary"
       role="button">Return to Customer</a>
</form>

{% endblock %}