{% extends "_base.html" %}

{% block content %}
<h4><strong>Calculate Slab, Square Footings, or Walls</strong></h4>
<form class="form-signin" role="form" method="post" action="{{ action }}">
  {{ form.csrf_token }}
<table>
    <tr>
        <td width="200px">Thickness Inches</td>
        <td>{{ form.slab_thickness() }}
            <span class="error">
              {% if form.slab_thickness.errors %}
                {% for error in form.slab_thickness.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Width Feet</td>
        <td>{{ form.slab_width() }}
            <span class="error">
              {% if form.slab_width.errors %}
                {% for error in form.slab_width.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Length Feet</td>
        <td>{{ form.slab_length() }}
            <span class="error">
              {% if form.slab_length.errors %}
                {% for error in form.slab_length.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Quantity</td>
        <td>{{ form.slab_quantity() }}
            <span class="error">
              {% if form.slab_quantity.errors %}
                {% for error in form.slab_quantity.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px" style="padding-top: 1em"><strong>Cubic Yards</strong></td>
        <td style="padding-top: 1em">
            {% if form.slab_thickness.data and form.slab_width.data and form.slab_length.data and form.slab_quantity.data %}
                {{ "{0:0.2f}".format((((form.slab_thickness.data /12) * form.slab_width.data * form.slab_length.data)/27) * form.slab_quantity.data) }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td width="200px"><strong>80lb Bags</strong></td>
        <td>
            {% if form.slab_thickness.data and form.slab_width.data and form.slab_length.data and form.slab_quantity.data %}
                {{ "{0:0.2f}".format((((form.slab_thickness.data /12) * form.slab_width.data * form.slab_length.data) / 0.6) * form.slab_quantity.data) }}
            {% endif %}
        </td>
    </tr>

        <tr>
        <td width="200px"><strong>60lb Bags</strong></td>
        <td>
            {% if form.slab_thickness.data and form.slab_width.data and form.slab_length.data and form.slab_quantity.data %}
                {{ "{0:0.2f}".format((((form.slab_thickness.data /12) * form.slab_width.data * form.slab_length.data) / 0.45)* form.slab_quantity.data) }}
            {% endif %}
        </td>
    </tr>

</table>

<br>
<h4><strong>Calculate Hole, Column or Round Footings</strong></h4>
<table>
    <tr>
        <td width="200px">Diameter Inches</td>
        <td>{{ form.round_diameter() }}
            <span class="error">
              {% if form.round_diameter.errors %}
                {% for error in form.round_diameter.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Depth or Height Inches</td>
        <td>{{ form.round_depth() }}
            <span class="error">
              {% if form.round_depth.errors %}
                {% for error in form.round_depth.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Quantity</td>
        <td>{{ form.round_quantity() }}
            <span class="error">
              {% if form.round_quantity.errors %}
                {% for error in form.round_quantity.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px" style="padding-top: 1em"><strong>Cubic Yards</strong></td>
        <td style="padding-top: 1em">
            {% if form.round_diameter.data and form.round_depth.data and form.round_quantity.data %}
                {{ "{0:0.2f}".format((((3.14156 * ((form.round_diameter.data /12) /2)**2 * (form.round_depth.data /12)) * form.round_quantity.data) /27)) }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td width="200px"><strong>80lb Bags</strong></td>
        <td>
            {% if form.round_diameter.data and form.round_depth.data and form.round_quantity.data %}
                {{ "{0:0.2f}".format((((3.14156 * ((form.round_diameter.data /12) /2)**2 * (form.round_depth.data /12)) * form.round_quantity.data) /0.6)) }}
            {% endif %}
        </td>
    </tr>

        <tr>
        <td width="200px"><strong>60lb Bags</strong></td>
        <td>
            {% if form.round_diameter.data and form.round_depth.data and form.round_quantity.data %}
                {{ "{0:0.2f}".format((((3.14156 * ((form.round_diameter.data /12) /2)**2 * (form.round_depth.data /12)) * form.round_quantity.data) /0.45)) }}
            {% endif %}
        </td>
    </tr>

</table>


<br>
<h4><strong>Calculate Triangle</strong></h4>
<table>
    <tr>
        <td width="200px">Side A Feet</td>
        <td>{{ form.triangle_side_a() }}
            <span class="error">
              {% if form.triangle_side_a.errors %}
                {% for error in form.triangle_side_a.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Side B Feet</td>
        <td>{{ form.triangle_side_b() }}
            <span class="error">
              {% if form.triangle_side_b.errors %}
                {% for error in form.triangle_side_b.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Side C Feet</td>
        <td>{{ form.triangle_side_c() }}
            <span class="error">
              {% if form.triangle_side_c.errors %}
                {% for error in form.triangle_side_c.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px">Thickness Inches</td>
        <td>{{ form.triangle_thickness() }}
            <span class="error">
              {% if form.triangle_thickness.errors %}
                {% for error in form.triangle_thickness.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
        </td>
    </tr>

    <tr>
        <td width="200px" style="padding-top: 1em"><strong>Cubic Yards</strong></td>
        <td style="padding-top: 1em">
            {% if triangle_volume_yards: %}
                {{ "{0:0.2f}".format(triangle_volume_yards) }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td width="200px"><strong>80lb Bags</strong></td>
        <td>
            {% if triangle_volume_80lbs: %}
                {{ "{0:0.2f}".format(triangle_volume_80lbs) }}
            {% endif %}
        </td>
    </tr>

        <tr>
        <td width="200px"><strong>60lb Bags</strong></td>
        <td>
            {% if triangle_volume_60lbs: %}
                {{ "{0:0.2f}".format(triangle_volume_60lbs) }}
            {% endif %}
        </td>
    </tr>

</table>

    <br>
    <br>
    <button class="btn btn-sm btn-success" type="submit">Calculate</button>
    <a href="{{ url_for('calculator.calculator') }}" class="btn btn-sm btn-info">Reset</a></h4>
</form>

{% endblock %}