{% extends "_base.html" %}

{% block content %}

<form class="form-signin" role="form" method="post" action="/customers/">
  {{ form.csrf_token }}
  {{ form.name(placeholder="customer name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    <button class="btn btn-sm btn-success" type="submit">Search</button>
  </form>


<h4 class="entries">
  <h4><strong>Customers </strong><a href="{{ url_for('customer.customer_add') }}" class="btn btn-sm btn-success" role="button">Add</a></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th><strong>Name</strong></th>
          <th><strong>Email</strong></th>
          <th><strong>Telephone</strong></th>
        </tr>
      </thead>
      {% for customer in customers.items %}
        <tr>
          <td><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
          <td>{{ customer.email }}</td>
          <td>{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:]}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
<div>
{% if customers.has_prev %}
  <a href="{{ url_for('customer.customers', page=customers.prev_num) }}">&lt;&lt; Previous</a>
{% else %}
  &lt;&lt; Previous
{% endif %}
  |
{% if customers.has_next %}
  <a href="{{ url_for('customer.customers', page=customers.next_num) }}">Next &gt;&gt;</a>
{% else %}
  Next &gt;&gt;
{% endif %}

  {% endblock %}