{% extends "_base.html" %}

{% block content %}

<h4><strong>Add Item to Bid</strong></h4>
<form class="form-signin" role="form" method="post" action="{{ action }}">
  {{ form.csrf_token }}
  {{ form.service_id(placeholder="enter quantity") }}
    <span class="error">
      {% if form.service_id.errors %}
        {% for error in form.service_id.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>

  {{ form.quantity(placeholder="enter quantity") }}
    <span class="error">
      {% if form.quantity.errors %}
        {% for error in form.quantity.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>

     <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>

{% endblock %}