{% extends "_base.html" %}

{% block content %}

<h4><strong>Add Custom Item to Bid</strong></h4>
<form class="form-signin" role="form" method="post" action="{{ action }}">
  {{ form.csrf_token }}
    {{ form.description(placeholder="custom description") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>

  {{ form.total(placeholder="enter total") }}
    <span class="error">
      {% if form.total.errors %}
        {% for error in form.total.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>

  <br>
  <br>
     <button class="btn btn-sm btn-success" type="submit">Save</button>
  </form>

{% endblock %}