{% extends "_base.html" %}
{% block content %}


<div class="entries">
  <h4><strong>Jobs that Need a Bid</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Scheduled Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid['bid_status'] == 'Needs Bid': %}
          <tr>
              <td><a href="{{ url_for('customer.customer_details', customer_id=bid['customer_id']) }}">{{ bid['customer_name'] }}</a></td>
              <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid['bid_id']) }}">{{ bid['bid_description'] }}</a></td>
              <td>{{ bid['bid_date'] }}</td>
              <td><a href="https://www.google.com/maps/place/{{ bid['address_street'].replace(' ', '+') }}+{{ bid['address_city'] }}+{{ bid['address_state'] }}+{{ bid['address_zip'] }}"
                    target="_blank">{{ bid['address_street'] }}, {{ bid['address_city'] }}, {{ bid['address_state'] }}</a></td>
              <td>{{ bid['customer_telephone'] }}</td>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>
<br>

<div class="entries">
  <h4><strong>Jobs in Progress</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Started Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid['bid_status'] == 'Job Started': %}
          <tr>
              <td><a href="{{ url_for('customer.customer_details', customer_id=bid['customer_id']) }}">{{ bid['customer_name'] }}</a></td>
              <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid['bid_id']) }}">{{ bid['bid_description'] }}</a></td>
              <td>{{ bid['bid_date'] }}</td>
              <td><a href="https://www.google.com/maps/place/{{ bid['address_street'].replace(' ', '+') }}+{{ bid['address_city'] }}+{{ bid['address_state'] }}+{{ bid['address_zip'] }}"
                    target="_blank">{{ bid['address_street'] }}, {{ bid['address_city'] }}, {{ bid['address_state'] }}</a></td>
              <td>{{ bid['customer_telephone'] }}</td>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>
<br>


<div class="entries">
  <h4><strong>Jobs in Queue</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Tentative Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid['bid_status'] == 'Job Accepted': %}
          <tr>
              <td><a href="{{ url_for('customer.customer_details', customer_id=bid['customer_id']) }}">{{ bid['customer_name'] }}</a></td>
              <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid['bid_id']) }}">{{ bid['bid_description'] }}</a></td>
              <td>{{ bid['bid_date'] }}</td>
              <td><a href="https://www.google.com/maps/place/{{ bid['address_street'].replace(' ', '+') }}+{{ bid['address_city'] }}+{{ bid['address_state'] }}+{{ bid['address_zip'] }}"
                    target="_blank">{{ bid['address_street'] }}, {{ bid['address_city'] }}, {{ bid['address_state'] }}</a></td>
              <td>{{ bid['customer_telephone'] }}</td>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>
<br>


<div class="entries">
  <h4><strong>Jobs Awaiting Customer Acceptance</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Bid Created</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid['bid_status'] == 'Awaiting Customer Acceptance': %}
          <tr>
              <td><a href="{{ url_for('customer.customer_details', customer_id=bid['customer_id']) }}">{{ bid['customer_name'] }}</a></td>
              <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid['bid_id']) }}">{{ bid['bid_description'] }}</a></td>
              <td>{{ bid['bid_date'] }}</td>
              <td><a href="https://www.google.com/maps/place/{{ bid['address_street'].replace(' ', '+') }}+{{ bid['address_city'] }}+{{ bid['address_state'] }}+{{ bid['address_zip'] }}"
                    target="_blank">{{ bid['address_street'] }}, {{ bid['address_city'] }}, {{ bid['address_state'] }}</a></td>
              <td>{{ bid['customer_telephone'] }}</td>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>


{% endblock %}