{% extends "_base.html" %}
{% block content %}

<div class="entries">
  <h4>Jobs that Need a Bid</h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="75px"><strong>Customer</strong></th>
          <th width="500px"><strong>Description</strong></th>
          <th width="130px"><strong>Scheduled Date</strong></th>
          <th width="220"><strong>Address</strong></th>
          <th width="100px"><strong>Telephone</strong></th>
        </tr>
      </thead>
      {% for bid in bids %}
        {% if bid.status == 'Needs Bid': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="75px"><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td width="500px">{{ bid.description }}</td>
            {% if bid.scheduled_bid_date is not none: %}
                <td width="130px">{{ bid.scheduled_bid_date.strftime('%x') }}</td>
            {% else: %}
                <td width="130px"></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td width="220px"><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="100px">{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4>Jobs In Progress</h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="75px"><strong>Customer</strong></th>
          <th width="500px"><strong>Description</strong></th>
          <th width="100px"><strong>Started Date</strong></th>
          <th width="220"><strong>Address</strong></th>
          <th width="100px"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Job Started': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="75px"><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td width="500px">{{ bid.description }}</td>

            {% if bid.actual_start is not none: %}
                <td width="130px">{{ bid.actual_start.strftime('%x') }}</td>
            {% else %}
                <td width="130px"></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td width="220px"><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="100px">{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}
    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4>Jobs in Queue</h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="75px"><strong>Customer</strong></th>
          <th width="400px"><strong>Description</strong></th>
          <th width="100px"><strong>Tentative Date</strong></th>
          <th width="220"><strong>Address</strong></th>
          <th width="100px"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Job Accepted': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="75px"><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td width="400px">{{ bid.description }}</td>

            {% if bid.tentative_start is not none: %}
                <td width="130px">{{ bid.tentative_start.strftime('%x') }}</td>
            {% else %}
                <td width="130px"></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td width="220px"><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="100px">{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4>Jobs Awaiting Customer Acceptance</h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="75px"><strong>Customer</strong></th>
          <th width="500px"><strong>Description</strong></th>
          <th width="100px"><strong>Bid Created</strong></th>
          <th width="220"><strong>Address</strong></th>
          <th width="100px"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Awaiting Customer Acceptance': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="75px"><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td width="500px">{{ bid.description }}</td>
            <td width="130px">{{ bid.timestamp.strftime('%x') }}</td>

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td width="220px"><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td width="100px">{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>

{% endblock %}