{% extends "_base.html" %}
{% block content %}

<div class="entries">
  <h4><strong>Jobs that Need a Bid</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Scheduled Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>
      {% for bid in bids %}
        {% if bid.status == 'Needs Bid': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid.id) }}">{{ bid.description }}</a></td>


            {% if bid.scheduled_bid_date is not none: %}
                <td>{{ bid.scheduled_bid_date.strftime('%x %I:%M %p') }}</td>
            {% else: %}
                <td></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td>{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4><strong>Jobs In Progress</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Started Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Job Started': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid.id) }}">{{ bid.description }}</a></td>

            {% if bid.actual_start is not none: %}
                <td>{{ bid.actual_start.strftime('%x') }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td>{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}
    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4><strong>Jobs in Queue</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Tentative Date</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Job Accepted': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid.id) }}">{{ bid.description }}</a></td>

            {% if bid.tentative_start is not none: %}
                <td>{{ bid.tentative_start.strftime('%x') }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td>{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>


<div class="entries">
    <br>
  <h4><strong>Jobs Awaiting Customer Acceptance</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="15%"><strong>Customer</strong></th>
          <th width="35%"><strong>Description</strong></th>
          <th width="12%"><strong>Bid Created</strong></th>
          <th width="25%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>

    {% for bid in bids %}
        {% if bid.status == 'Awaiting Customer Acceptance': %}
          <tr>
            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td><a href="{{ url_for('customer.customer_details', customer_id=customer.id) }}">{{ customer.name }}</a></td>
                {% endif %}
            {% endfor %}

            <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid.id) }}">{{ bid.description }}</a></td>
            <td>{{ bid.timestamp.strftime('%x') }}</td>

            {% for address in addresses %}
                {% if bid.address_id == address.id %}
                   <td><a href="https://www.google.com/maps/place/{{ address.street.replace(' ', '+') }}+{{ address.city }}+{{ address.state }}+{{ address.zip }}"
                    target="_blank">{{ address.street }}, {{ address.city }}, {{ address.state }}</a></td>
                {% endif %}
            {% endfor %}


            {% for customer in customers %}
                {% if bid.customer_id == customer.id %}
                    <td>{{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
    {% endfor %}

    </table>
  </div>
</div>

{% endblock %}