<!-- HTML CSS values -->
<!-- p class="red" translates to .red {} used for many -->
<!-- p id="red" translates to #red {} used for just one -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madsen Concrete Services Proposal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf.css') }}">
</head>
<body>
{% block content %}
<table id="header" style="width: 100%">
    <tr>
        <td style="vertical-align:top; width: 33.3333%">
            <img id="logo" src="{{ url_for('static', filename='img/logo.gif') }}">
        </td>

        <td style="vertical-align:top; width: 33.3333%; text-align: center">
            <h2 id="title"><em>Receipt</em></h2>
            <div id="company_address">
                179 Marvy St<br>
                Lino Lakes, MN 55014<br>
                612-508-2484<br>
                concrete@madsenservices.com<br>
                MN License: BC690748
            </div>
        </td>

        <td style="vertical-align:top; width: 33.3333%; text-align: right; font-size: .8em;">
            Date: {{ bid_time }}<br>
            Invoice: {{ "{0:0>4}".format(bid.id) }}<br>
        </td>

    </tr>
</table>
<br>

<table id="wrapper">
    <td style="vertical-align:top; width: 50%; text-align: left; font-size: .8em;">
            <h4 style="margin-bottom: 5px;">Customer Address</h4>
            {{ customer.name.upper() }}<br>
            {{ address.street }}<br>
            {{ address.city }}, {{ address.state }}, {{ address.zip }}<br>
            {{ "(" + customer.telephone[:3] + ") " + customer.telephone[3:6] + "-" + customer.telephone[6:] }}<br>
            {{ customer.email }}
    </td>

    <td style="vertical-align:top; width: 50%; text-align: left; font-size: .8em">
        <h4 style="margin-bottom: 5px;">Project Overview</h4>
        <p>{{ bid.description }}</p>
    </td>
</table>

<br>
<div class="entries">
    <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>Description</strong></th>
          <th width="30px" style="text-align: right;"><strong>Total</strong></th>
        </tr>
      </thead>

  {% if sum_of_items[0] is not none: %}
        {% for item in items %}
            <tr>
              <td width="75px">{{ item.description | scrub_description }}</td>
              <td width="30px" style="text-align: right;">{{ "{0:0.2f}".format(item.total) }}</td>
            </tr>
        {% endfor %}
  {% endif %}

      <thead>
        <tr>
            <th width="30px"><strong>Total</strong></th>
            <th style="text-align: right;">{{ "${0:0.2f}".format(sum_of_items[0]) }}</th>
        </tr>
      </thead>

    </table>
</div>

<br>
<div class="entries">
    <div class="datagrid">
    <table>
        <tr style="color: #FFFFFF; background: #000000; font-size: 15px; font-weight: bold">
            <th colspan="2" width="50px"><strong>Payment History</strong></th>
        </tr>

        <tr>
            {% if bid.down_payment_date: %}
                <td>{{ bid.down_payment_date.strftime('%x') }}</td>
                <td style="text-align: right;">{{ "${0:0.2f}".format(bid.down_payment_amount) }}</td>
            {% endif %}
        </tr>

        <tr>
            {% if bid.final_payment_date: %}
                <td>{{ bid.final_payment_date.strftime('%x') }}</td>
                <td style="text-align: right;">{{ "${0:0.2f}".format(bid.final_payment_amount) }}</td>
            {% endif %}
        </tr>

        <tr  style="color: #FFFFFF; background: #000000; font-size: 15px; font-weight: bold">
            <th width="50px"><strong>Outstanding Balance</strong></th>
            <th width="50px" style="text-align: right">
                <strong>{{ "${0:0.2f}".format(sum_of_items[0] - (bid.final_payment_amount + bid.down_payment_amount)) }}</strong></th>
        </tr>

    </table>
</div>

{% endblock %}
</body>
</html>