{% extends "_base.html" %}

{% block content %}

<form class="form-signin" role="form" method="post" style="font-size: 1em" action="/bids/">
    {{ form.csrf_token }}
    {{ form.bid_type() }}

        <span class="error">
          {% if form.bid_type.errors %}
            {% for error in form.bid_type.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>

    <button class="btn btn-sm btn-success" type="submit">Search</button>
</form>

<br>
<!-- <div class="entries"> -->
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="10%"><strong>Customer</strong></th>
          <th width="30%"><strong>Description</strong></th>
          <th width="15%"><strong>Bid Status</strong></th>
          <th width="12%"><strong>Date</strong></th>
          <th width="20%"><strong>Address</strong></th>
          <th width="13%"><strong>Telephone</strong></th>
        </tr>
      </thead>
    {% if bids is not none: %}
      {% for bid in bids %}
          <tr style="{{ loop.cycle('background: white;', 'background: #F0F0F0;') }}">

            <td><a href="{{ url_for('customer.customer_details', customer_id=bid['customer_id']) }}">{{ bid['customer_name'] }}</a></td>

            <td><a href="{{ url_for('bid.bid_edit', bid_edit_id=bid['bid_id']) }}">{{ bid['bid_description'] }}</a></td>

            {% if bid['bid_status'] is not none: %}
                <td>{{ bid['bid_status'] }}</td>
            {% else: %}
                <td></td>
            {% endif %}

            <td>{{ bid['bid_date'] }}</td>

            <td><a href="https://www.google.com/maps/place/{{ bid['address_street'].replace(' ', '+') }}+{{ bid['address_city'] }}+{{ bid['address_state'] }}+{{ bid['address_zip'] }}"
                    target="_blank">{{ bid['address_street'] }}, {{ bid['address_city'] }}, {{ bid['address_state'] }}</a></td>

            <td>{{ bid['customer_telephone'] }}</td>

          </tr>
      {% endfor %}
     {% endif %}

    </table>
  </div>
<!-- </div> -->

{% endblock %}